<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <h1 class="main-header"><%= user.name %></h1>
    <!-- メッセージ -->
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes">
          <div class="flash error"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <% if (user.role !== 'admin') { %>
    <% if (yms) { %>
        <% yms.forEach( ym => { %>
          <% const name_status=ym.status==='1' ?'未募集':ym.status==='2' ?'募集中':ym.status==='3' ?'募集終了':ym.status==='4' ?'確定':''; %>
          <% if (ym.status === '2') { %>
            <a class="btn" href="yyyymmdds/<%= ym.yyyymm %>">
            <p class="tag-status2"><%= name_status %></p>
            <%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(4,6) %>月
            </a>
          <% } else if(ym.status ==='4') { %>
            <a class="btn-kakutei" href="yyyymmdds_fix/<%= ym.yyyymm %>">
              <p class="tag-status4"><%= name_status %></p>
              <%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(4,6) %>月
              </a>
              <% } else { %>
            <div class="btn-disabled">
              <%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(4,6) %>月 <%= name_status %>
            </div>
          <% } %>
      <% }) %>
    <% } %>
    <% } %>

    <div class="btn-footer">
    <% if (user.role === 'admin') { %>
      <a class="btn-link" href="/users">ユーザ管理</a>
      <a class="btn-link" href="/yms">年月管理</a>
    <% } else { %>
      <a class="btn-link-big" href="/users/updatepwd/<%= user.id %>">パスワード変更</a>
    <% } %>
    </div>
    <% if (locals.user){ %>
      <div class="btn-footer">
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" value="ログアウト" />
        </form>
      </div>
      <% } %>
  </div>
</body>

</html>