<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <h1 class="main-header"><%= targetYyyymm.slice(0,4) %>年<%= targetYyyymm.slice(4,6) %>月</h1>
    <div class="upload-main">
      <!-- メッセージ -->
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
          <div class="flashes">
            <div class="flash success"><%= flashMessages.success %></div>
          </div>
        <% } else if (flashMessages.error) { %>
          <div class="flashes">
            <div class="flash error"><%= flashMessages.error %></div>
          </div>
        <% } %>
      <% } %>
      <form action="/yms/fixupload"  method="POST" enctype="multipart/form-data">
        <div class="attachment">
          <label><input type="file" name="file" class="fileinput">ファイルを添付する</label>
          <span class="filename">選択されていません</span>
        </div>
        <input type="hidden" name="targetYyyymm" value="<%= targetYyyymm %>" />
        <button class="btn-update" type="submit">アップロード</button>
      </form>
    </div>
    <div class="btn-footer">
      <a href="/yms" class="btn-link">戻る</a>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% } %>
    </div>
  </div>
</body>
<script>
  const fileObj = document.getElementsByClassName("fileinput")[0];
  fileObj.addEventListener("change", () => {
    document.getElementsByClassName("filename")[0].innerHTML = fileObj.files[0].name;
  })
</script>

</html>