<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <!-- メッセージ -->
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes">
          <div class="flash error"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <form name="userform" method="POST">
      <div class="form-area">
      <% if (mode === 'insert') { %>
        <% 
          const value_id = selectuser?selectuser.id:null;
          const value_name = selectuser?selectuser.name:null;
          const value_password = selectuser?selectuser.password:null;
          const value_role = selectuser?selectuser.role:null;
        %> 
        <div><input class="form-item-style" type="text" name="id" placeholder="ID" value="<%= value_id %>" autofocus required></div> 
        <div><input class="form-item-style" type="text" name="name" placeholder="名前" value="<%= value_name %>" required></div> 
        <div><input class="form-item-style" type="password" name="password" placeholder="パスワード" value="<%= value_password %>" required></div> 
        <div><input class="form-item-style" type="text" placeholder="権限" value="<%= value_role %>" name="role"></div>  
        <div><input class="form-item-style" type="text" placeholder="適用終了日" value="99991231" name="ymd_end"></div>  
        <input class="btn-update" type="button" id="btn_insert" value="登録">

      <% } else { %>
        <div><input class="form-item-readonly-style" type="text" name="id" placeholder="ID" value="<%= selectuser.id %>"></div>
        <% if (mode === 'updatepwd') { %>
          <div><input class="form-item-readonly-style" type="text" name="name" value="<%= selectuser.name %>" readonly></div>
          <div><input class="form-item-style" type="password" name="password" placeholder="パスワード" value=""></div>  
          <div><input class="form-item-readonly-style" type="text" name="role" value="<%= selectuser.role %>" readonly></div> 
          <div><input class="form-item-readonly-style" type="text" name="ymd_end" value="<%= selectuser.ymd_end %>" readonly></div> 
        <% } else { %>
          <div><input class="form-item-style" type="text" name="name" placeholder="名前" value="<%= selectuser.name %>" autofocus required></div>
          <div><input class="form-item-style" type="password" name="password" placeholder="パスワード" value="" required></div>  
          <div><input class="form-item-style" type="text" name="role" placeholder="権限" value="<%= selectuser.role %>"></div> 
          <div><input class="form-item-style" type="text" name="ymd_end" placeholder="適用終了日" value="<%= selectuser.ymd_end %>"></div> 
        <% } %>
        <input type="hidden" name="ymd_add" value="<%= selectuser.ymd_add %>">
        <input type="hidden" name="id_add" value="<%= selectuser.id_add %>">
        <input type="hidden" name="id_end" value="<%= selectuser.id_end %>">
        <input type="hidden" name="ymd_upd" value="<%= selectuser.ymd_upd %>">
        <input type="hidden" name="id_upd" value="<%= selectuser.id_upd %>">
        <input type="hidden" name="mode" value="<%= mode %>">
        <input class="btn-update" type="button" id="btn_update" value="更新">
      <% } %>
      <input type="hidden" id="field_mode">
      </div>
    </form>
    <div class="btn-footer">
      <% if (mode==='updatepwd') { %>
        <a href="/" class="btn-link">戻る</a>
      <% } else { %>
        <a href="/users" class="btn-link">戻る</a>
      <% } %>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% }  %>
    </div>
  </div>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", () => {
        document.userform.action = "insert";
        document.userform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", () => {
        // パスワードの更新にも対応するため、絶対パスで指定
        document.userform.action = "/users/update";
        document.userform.submit();
      })
    }
    // let deletebtn = document.getElementById("btn_delete");
    // if (deletebtn) {
    //   deletebtn.addEventListener("click", () => {
    //     document.userform.action = "delete";
    //     document.userform.submit();
    //   })
    // }
  </script>
</body>

</html>