<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <% if (message && message.length !== 0) { %>
      <div class="alert">
        <p class="alert-danger"><%= message %></p>
      </div>
    <% } %>

    <form name="ymform" method="POST">
      <div class="form-area">
      <% if (mode === 'insert') { %>
      <div>
        <input class="form-item-style" type="text" name="yyyymm" placeholder="年月（yyyymm形式）" autofocus required>
      </div>
      <!-- <input class="form-item-style" type="text" name="status" placeholder="" required> -->
      <div class="yms-radio">
        <input id="status1" type="radio" name="status" value="1" checked /><label for="status1">未募集</label>
        <input id="status2" type="radio" name="status" value="2" /><label for="status2">募集中</label>
        <input id="status3" type="radio" name="status" value="3" /><label for="status3">募集終了</label>
        <input id="status4" type="radio" name="status" value="4" /><label for="status4">確定</label>
      </div>
      <input class="btn-update" type="button" id="btn_insert" value="登録">
      <% } else { %>
      <% const ismi = ym.status==='1' ?'checked':''; const ischu = ym.status==='2' ?'checked':''; const
      iszumi=ym.status==='3' ?'checked':'';const iskakutei=ym.status==='4'?'checked':''; %>
      <div><p class="main-header"><%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(4,6) %>月</p></div>
      <input type="hidden" name="yyyymm" value="<%= ym.yyyymm %>">
      <div class="yms-radio">
        <input id="status4" type="radio" name="status" value="1" <%= ismi %> /><label for="status4">未募集</label>
        <input id="status5" type="radio" name="status" value="2" <%= ischu %> /><label for="status5">募集中</label>
        <input id="status6" type="radio" name="status" value="3" <%= iszumi %> /><label for="status6">募集終了</label>
        <input id="status7" type="radio" name="status" value="4" <%= iskakutei %> /><label for="status7">確定</label>
      </div>
      <input type="hidden" name="ymd_add" value="<%= user.ymd_add %>">
      <input type="hidden" name="id_add" value="<%= user.id_add %>">
      <input type="hidden" name="ymd_upd" value="<%= user.ymd_upd %>">
      <input type="hidden" name="id_upd" value="<%= user.id_upd %>">
      <input class="btn-update" type="button" id="btn_update" value="更新">
      <input class="btn-delete" type="button" id="btn_delete" value="削除">
      <% } %>
      <input type="hidden" id="field_mode">
      </div>
    </form>
    <div class="btn-footer">
      <div>
        <a href="/yms" class="btn-link">戻る</a>
      </div>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% }  %>
    </div>
  </div>
  <script>
    let insertbtn = document.getElementById("btn_insert");
    if (insertbtn) {
      insertbtn.addEventListener("click", () => {
        document.ymform.action = "insert";
        document.ymform.submit();
      })
    }
    let updatebtn = document.getElementById("btn_update");
    if (updatebtn) {
      updatebtn.addEventListener("click", () => {
        document.ymform.action = "update";
        document.ymform.submit();
      })
    }
    let deletebtn = document.getElementById("btn_delete");
    if (deletebtn) {
      deletebtn.addEventListener("click", () => {
        document.ymform.action = "delete";
        document.ymform.submit();
      })
    }
  </script>
</body>

</html>