<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
  <% if (yms) { %>
    <%  yms.forEach( ym => { %>
    <div class="row">
      <% const name_status=ym.status==='1' ?'未募集':ym.status==='2' ?'募集中':ym.status==='3' ?'募集終了':ym.status==='4'?'確定':''; %>
      <% if (ym.status === '2') { %>
        <div class="btn-admin">
          <p class="admin-title"><%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(-2) %>月 ( <%= name_status %> )</p>
          <div class="btn-admin-inner">
            <a class="btn-inner-setteing" href="yms/update/<%= ym.yyyymm %>">設定
            </a>
            <a class="btn-inner-kibou" href="yms/users/<%= ym.yyyymm %>">希望
            </a>
            <a class="btn-inner-download" href="yms/download/<%= ym.yyyymm %>">ＤＬ
            </a>
          </div>
        </div>
        <% } else if (ym.status === '4') { %>
        <div class="btn-admin">
          <p class="admin-title"><%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(-2) %>月 ( <%= name_status %> )</p>
          <div class="btn-admin-inner">
            <a class="btn-inner-setteing" href="yms/update/<%= ym.yyyymm %>">設定
            </a>
            <a class="btn-inner-kibou" href="yms/users/<%= ym.yyyymm %>">希望
            </a>
            <a class="btn-inner-kakutei" href="yms/fix/<%= ym.yyyymm %>">確定
            </a>
            <a class="btn-inner-download" href="yms/download/<%= ym.yyyymm %>">ＤＬ
            </a>
          </div>
        </div>
        <% } else { %>
        <div class="btn-admin-disabled">
          <p class="admin-title"><%= ym.yyyymm.slice(0,4) %>年<%= ym.yyyymm.slice(-2) %>月 ( <%= name_status %> )</p>
          <div class="btn-admin-inner-disabled">
            <a class="btn-inner-setteing" href="yms/update/<%= ym.yyyymm %>">設定
            </a>
            <a class="btn-inner-kibou" href="yms/users/<%= ym.yyyymm %>">希望
            </a>
            <a class="btn-inner-kakutei" href="yms/fix/<%= ym.yyyymm %>">確定
            </a>
            <a class="btn-inner-download" href="yms/download/<%= ym.yyyymm %>">ＤＬ
            </a>
          </div>
        </div>
        <% } %>
    </div>
    <%  }) %>
  <% } %>
    <div class="btn-footer">
      <a class="btn-link" href="yms/insert">年月登録</a>
    </div>
    <div class="btn-footer">
      <a href="/" class="btn-link">戻る</a>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% } %>
    </div>
  </div>
</body>

</html>