<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <h1 class="main-header"><%= yms.slice(0,4) %>年<%= yms.slice(-2) %>月</h1>
    <ul>
      <% if (users) { %>
      <%  users.forEach( user => { %>
      <li>
        <a class="btn" href="<%= yms %>/<%= user.id_users %>">
          <%= user.name_users %>（<%= user.id_users %>）
        </a>
      </li>
      <%  }) %>
      <% } %>
    </ul>
    <div class="btn-footer">
      <a href="/yms" class="btn-link">戻る</a>
      <% if (locals.user){ %>
        <form method="POST" action="/logout">
          <input type="submit" class="btn-link" button value="ログアウト" />
        </form>
      <% } %>
      </div>
  </div>
</body>

</html>