<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/destyle.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>バイトシフト調整</title>
</head>

<body>
  <div class="main-container">
    <h1 class="main-header">
      <% if (mode === 'admin') { %>
        <%= target_yyyymm.slice(0,4) %>年<%= target_yyyymm.slice(4,6) %>月
      <% } else { %>
        <%= target_yyyymm.slice(0,4) %>年<%= target_yyyymm.slice(4,6) %>月 <%= target_name_users %>
      <% } %>
    </h1>
    <!-- メッセージ -->
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="flashes">
          <div class="flash success"><%= flashMessages.success %></div>
        </div>
      <% } else if (flashMessages.error) { %>
        <div class="flashes">
          <div class="flash error"><%= flashMessages.error %></div>
        </div>
      <% } %>
    <% } %>
    <% if (yyyymmdds) { %>
    <% yyyymmdds.forEach( yyyymmdd => { %>
      <% if (mode === 'admin') { %>
        <a href="/yyyymmdds_fix/update/<%= yyyymmdd.yyyymmdd %>" class="row-kakutei">
      <% } else { %>
        <div class="row-kakutei">
      <% } %>
      <%
      const youbi = yyyymmdd.daykubun==='0'?'日':yyyymmdd.daykubun==='1'?'月':yyyymmdd.daykubun==='2'?'火':yyyymmdd.daykubun==='3'?'水':yyyymmdd.daykubun==='4'?'木':yyyymmdd.daykubun==='5'?'金':yyyymmdd.daykubun==='6'?'土':'';
      %>
        <div class="row-left">
          <div class="row-left-top">
            <% if (yyyymmdd.daykubun === '0' || yyyymmdd.isHoliday === '1') { %>
              <div class="row-header-color-holiday">
            <% } else if (yyyymmdd.daykubun === '6') { %>
              <div class="row-header-color-saturday">
            <% } else { %>
              <div class="row-header-color">
            <% } %>
              <%= yyyymmdd.yyyymmdd.slice(4,6) %>月<%= yyyymmdd.yyyymmdd.slice(6,8) %>日(<%= youbi %>)
            </div>
          </div>
          <div class="row-left-under">
            <%= yyyymmdd.status %>
          </div>
        </div>
        <div class="row-right">
          <div class="row-right-top">
            <div class="row-right-top-left">
              <img class="img-icon-haya" src="/images/haya.svg">
            </div>
            <div class="row-right-top-right">
              <% if (yyyymmdd.id_users_haya_1 === target_id_users) { %>
                <span class="row-active"><%= yyyymmdd.nm_users_haya_1 %></span>
              <% } else { %>
                <span class="row-nonactive"><%= yyyymmdd.nm_users_haya_1 %></span>
              <% } %>
              <% if (yyyymmdd.id_users_haya_2 === target_id_users) { %>
                <span class="row-active"><%= yyyymmdd.nm_users_haya_2 %></span>
              <% } else { %>
                <span class="row-nonactive"><%= yyyymmdd.nm_users_haya_2 %></span>
              <% } %>
            </div>
          </div>
          <div class="row-right-under">
            <div class="row-right-under-left">
              <img class="img-icon-oso" src="/images/oso.svg">
            </div>
            <div class="row-right-under-right">
              <% if (yyyymmdd.id_users_oso_1 === target_id_users) { %>
                <span class="row-active"><%= yyyymmdd.nm_users_oso_1 %></span>
              <% } else { %>
                <span class="row-nonactive"><%= yyyymmdd.nm_users_oso_1 %></span>
              <% } %>
              <% if (yyyymmdd.id_users_oso_2 === target_id_users) { %>
                <span class="row-active"><%= yyyymmdd.nm_users_oso_2 %></span>
              <% } else { %>
                <span class="row-nonactive"><%= yyyymmdd.nm_users_oso_2 %></span>
              <% } %>
            </div>
          </div>
        </div>
        <% if (mode === 'admin') { %>
          </a>
        <% } else { %>
          </div>
        <% } %>
      <% }) %>
    <% } %>
    </div>
    <div class="btn-footer">
      <% if (mode === 'admin') { %>
        <a href="/yms" class="btn-link">戻る</a>
      <% } else { %>
        <a href="/" class="btn-link">戻る</a>
      <% } %>
      <% if (locals.user){ %>
      <form method="POST" action="/logout">
        <input type="submit" class="btn-link" button value="ログアウト" />
      </form>
    <% } %>
    </div>
</body>

</html>